<head>

<title>IMF dashboard</title>

<!--import script files needed from plotly and bootstrap-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<link rel="stylesheet" type="text/css" href="/static/dashboard.css">
</head>

<body>

<!---------------------------------------- navbar links --------------------------------------------------------------->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
   <a class="navbar-brand" href="#">IMF Dashboard</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse"
  data-target="#navbarTogglerDemo02"
  aria-controls="navbarTogglerDemo02" aria-expanded="false"
  aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" href="https://github.com/pedro-hf">GitHub</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://www.imf.org/external/index.htm">International Monetary Fund</a>
      </li>
    </ul>
  </div>
</nav>

<!--------------------------------------- middle section -------------------------------------------------------------->
<div class="row">

    <!---------------------------social media buttons column-------------------------->
    <div class="col-1 border-right">
        <div id="follow-me" class="mt-3">
            <a href="https://www.imf.org/external/index.htm">
                <img src="/static/img/imf_seal.png" alt="IMF" class="img-fluid mb-4 ml-2">
            </a>
            <a href="https://github.com/pedro-hf">
                <img src="/static/img/github_logo.png" alt="github" class="img-fluid ml-2">
            </a>
        </div>
    </div>

    <!---------------------------visualizations column-------------------------------->
    <div class="col-11">

        <!---------------chart descriptions---------->
        <div id="middle-info" class="mt-3">

            <h2 id="tag-line">International Monetary Fund Dashboard</h2>
            <h4 id="tag-line" class="text-muted">Some interesting data</h4>

        </div>

        <!-----------------charts-------------------->
        <div id="charts" class="mt-3 text-left">
            <!--top two charts------------>
            <div class="row">
                <div class="col">
                    <!-- dropdown menu for filter -->
                    <form action="/dashboard/{{dataflow}}.html" method="post">
                    <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Countries<span class="caret"></span></button>
                            <ul class="dropdown-menu scrollable-menu" role="menu">
                                {% for c in countries %}
                                <div class="form-check">
                                  <input class="form-check-input" type="checkbox" name="country_{{c[0]}}" id="{{c[0]}}" value="{{c[1]}}" >
                                  <label class="form-check-label" for="{{c[0]}}">{{c[1]}}</label>
                                </div>
                                {% endfor %}
                            </ul>
                     </div>
                    <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Indicators<span class="caret"></span></button>
                            <ul class="dropdown-menu scrollable-menu" role="menu">
                                {% for ind in indicators %}
                                <div class="form-check">
                                  <input class="form-check-input" type="checkbox" name="ind_{{ind[0]}}" id="{{ind[0]}}" value="{{ind[1]}}" >
                                  <label class="form-check-label" for="{{ind[0]}}">{{ind[1]}}</label>
                                </div>
                                {% endfor %}
                            </ul>
                    </div>
                    <input type="submit" value="Plot">
                    </form>
                    <div id="plot1"></div>
                </div>
                <div class="col">
                    <div id="plot2"></div>
                </div>
            </div>
        </div>
    </div>

            <!--bottom two charts--------->
            <div class="row mb-6">
                <div class="col-6">
                    <div id="chart3">
                        <div id="plot3"></div>
                    </div>
                </div>
                <div class="col-6">
                    <div id="chart4">
                        <div id="plot4"></div>
                    </div>
                </div>
            </div>

            <!--Create another row and place a fifth chart in that row-->
            <div class="row mb-6">
              <div class="col-12">
                <div id="chart5">
                    <div id="plot5"></div>
                </div>
              </div>
            </div>

        </div>
    <div>
</div>

<!------------------------------------------footer section------------------------------------------------------------>
<div id="footer" class="container"></div>

</body>


<footer>

    <script type="text/javascript">
        var figures = {{figuresJSON | safe}} ;
        Plotly.plot("plot1", figures[0].data, figures[0].layout || {});
        Plotly.plot("plot2", figures[1].data, figures[1].layout || {});
    </script>

</footer>


</html>