<head>

<title>IMF dashboard</title>

<!--import script files needed from plotly and bootstrap-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<link rel="stylesheet" type="text/css" href="/static/dashboard.css">
</head>

<body>
<!---------------------------------------- navbar links --------------------------------------------------------------->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
   <a class="navbar-brand" href="#">IMF Dashboard</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse"
  data-target="#navbarTogglerDemo02"
  aria-controls="navbarTogglerDemo02" aria-expanded="false"
  aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" href="https://github.com/pedro-hf">GitHub</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://www.imf.org/external/index.htm">International Monetary Fund</a>
      </li>
    </ul>
  </div>
</nav>
<!------------------->
<div class="row">
    <div class="col-1 border-right">
        <div id="follow-me" class="mt-3">
            <a href="https://www.imf.org/external/index.htm">
                <img src="/static/img/imf_seal.png" alt="IMF" class="img-fluid mb-4 ml-2">
            </a>
            <a href="https://github.com/pedro-hf">
                <img src="/static/img/github_logo.png" alt="github" class="img-fluid ml-2">
            </a>
        </div>
    </div>
    <div class="col-11">
        <div class="row">
        Choose the dataflow:
        </div>
        <div class="row">
            <form action="/select.html" method="post">
                <select name="dataflow" size="20">
                {% for df in dataflows %}
                <option value="{{df}}">{{df}}</option>
                {% endfor %}
                </select>
                <input type="submit">
            </form>
        </div>

    </div>
</div>
</body>
</html>